<center>
  <div id="edit" class="panel panel1 panel-default wide">
  <div id="editPanel" class="panel-heading">

    <%= link_to :back do %>
  <span class="glyphicon glyphicon-menu-left accentFont left"></span>
  <% end %>

    <div class="panel-title wide">
      <h1><%= current_user.name %></h1>
    </div>
  </div>
  <div class="panel-body wide">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %> </div>

  <div class="form-group">
      <%= f.label :profile_image%>
      <%= f.file_field :avatar %>
    </div>

  <div class="form-group">
        <%= f.label :full_name%>
        <%= f.text_field :name, autofocus: true, class: "form-control field" %>
      </div>

      <div class="form-group">
        <%= f.label :email%>
        <%= f.email_field :email, class: "form-control field", :autofocus => true %>
      </div>

      <div class="form-group">
        <%= f.label :new_password%> 
        <br>
        <i>(optional)</i>
        <%= f.password_field :password, class: "form-control field", :autocomplete => "off" %>
      </div>

      <div class="form-group">
        <%= f.label :confirm_changes_with_password%>
        <%= f.password_field :current_password, class: "form-control field" %>
      </div>

      <div class="form-group">
        <%= f.submit "Update", class: "btn accentColor" %>
      </div>
    <% end %>
  </div>
 
    <div class="form-group">

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-warning" %></p>

  </div>
</div>
</center>