<center>
<div class="panel panel2 panel1 panel-default wide">
  <div class="panel-heading">
  
    <%= link_to :back do %>
  <span class="glyphicon glyphicon-menu-left blue left"></span>
  <% end %>

    <h1>Sign up</h1>
  </div>

  <div  class="panel-body wide">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :full_name %>
        <%= f.text_field :name, autofocus: true, class: "form-control field" %>
      </div>

      <div class="form-group">
        <%= f.label :email%>
        <%= f.email_field :email, autofocus: true, class: "form-control field"%>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <br>
        <i> (must be longer than 8 characters)</i>
        <%= f.password_field :password, class: "form-control field" %>
      </div>

        <div class="form-group">
        <%= f.label :password_confirmation %>
         <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>

      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
</center>


