<%= form_for @pin, html: { multipart: true } do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this bloon from being blown:</h2>
      <ul>
        <% @pin.errors.full_messages.each do |msg| %>
          <li class="deletecolor"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
 <div class="form-group">
    <%= f.file_field :image, class: "form-control field", cols: "1", placeholder: "Place photo here!"%>
  </div>
  <div class="form-group">
    <%= f.text_area :description, class: "form-control field", rows: "3", placeholder: "Describe your idea here!" %>
  </div>

  <div class="form-group">
    <%= f.submit "Blow Bloon", class: "btn accentColor" %>
  </div>
<% end %>