<div class="row">
	<div class="col-md-offset-2 col-md-8">
	<%= link_to :back do %>
 	 <span class="glyphicon glyphicon-menu-left accentFont left back"></span>
  	<% end %>
<div class="panel panel-default">
	<div class="panel-heading center">
  		<%= link_to like_pin_path(@pin), method: :put do %>
			<i class="pnb material-icons blue blow">blur_on</i>
		<% end %>
		<p class="pnbsm accentFont"><%= @pin.get_upvotes.size %></p>
		<%= image_tag @pin.image.url(:medium), class: "pinPic" %>	
		<%= link_to dislike_pin_path(@pin), method: :put do %>
			<i class="pnb material-icons deleteColor pop">flare</i>
		<% end %>
		<p class="pnbsm accentFont"><%= @pin.get_downvotes.size %></p>
	</div>
	<div class="panel-body">
	<% if @pin.user == current_user %>
			<%= link_to edit_pin_path(@pin) do %>
        			<span class="glyphicon glyphicon-edit accentFont right"></span>
      			<% end %>
			<%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              			<span class="glyphicon glyphicon-trash deleteColor right"></span>
           		 <% end %>
		<% end %>
		<p><%= @pin.description %></p>
		<br>
		<br>
		<div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
		<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Great%20Bloon!" data-size="large">Tweet</a>
		<hr>
		<h3>Score:</h3>
		<h1 class="accentFont"><%= @pin.get_upvotes.size-@pin.get_downvotes.size %></h1>
		<hr>
		<div class="center">
			<%= link_to @pin.user do %>
				<%= image_tag(@pin.user.avatar.url(:medium), class: "profimgmd") %> 
				<p class="userFont"><strong><%= @pin.user.name if @pin.user %></strong></p>
			<% end %>
		</div>
		</div>
	</div>
</div>


