

<div class="row">
	<div class="col-md-offset-2 col-md-8">
	<%= link_to :back do %>
  <span class="glyphicon glyphicon-menu-left accentFont left"></span>
  <% end %>
		<div class="panel panel-default">

		<div class="panel-heading center">

  <%= link_to like_pin_path(@pin), method: :put do %>
		<i id ="blow" class="pnb material-icons darkpurpleFont bigIcon">blur_on</i>
		<% end %>

		<p class="pnb accentFont"><%= @pin.get_upvotes.size %></p>

			<%= image_tag @pin.image.url(:medium), class: "pinPic" %>

			
			<%= link_to dislike_pin_path(@pin), method: :put do %>
		<i id ="pop" class="pnb material-icons darkpurpleFont bigIcon">flare</i>
		<% end %>


		<p class="pnb accentFont"><%= @pin.get_downvotes.size %></p>
		
		</div>
		<div class="panel-body">
		<p><%= @pin.description %></p>
</center>


		<br>
		<% if @pin.user == current_user %>
			<%= link_to edit_pin_path(@pin) do %>
        <span class="glyphicon glyphicon-edit accentFont"></span>
            
      <% end %>

      <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash deleteColor"></span>
            <% end %>

		<% end %>
<center>
		<hr>
		<p class="smallFont"> Based on other users feedback, this idea:</p>

		<% if @pin.get_upvotes.size - @pin.get_downvotes.size < 0 %>
		<h4 id="grade" class="accentFont"> Suck </h4>
		<% else %>
		<h4 id="grade" class="accentFont">Rules</h4>
		<% end %>
		<hr>

		<p class="userFont"><strong><%= @pin.user.name if @pin.user %></strong></p>
		<p class="userFont"><%= @pin.user.email if @pin.user %></p>

		</div>
	</div>

</div>
