<%= link_to :back do %>
  <span class="glyphicon glyphicon-menu-left accentFont left"></span>
  <% end %>
<center>

<%= image_tag(@user.avatar.url(:medium), class: "profimg") %> 
	<h1 class="darkpurpleFont"><%= @user.name %></h1>

<!-- <table id="followTable">  
<tr><td class="followCell"><h1 class="accentFont"> <%= @user.followers_count %></h1></td><td><h1> Followers</h1></td></tr> 
</table>
<br>

<table id="followTable"> 
<tr><td class="followCell"><h1 class="accentFont"> <%= @user.follow_count %></h1></td><td><h1> Following</h1></td></tr> 
</table>

<%= link_to "Follow", follow_user_path(@user),class: "btn accentColor btn-lg"%> -->

<hr>

<div id="pins" class="transitions-enabled">
  <% @user.pins.each do |pin| %>
    <div class="pin-index box panel panel-default">
        
        <% if current_user && pin.user == current_user %>
        <p class="currentUserName desc"><strong><%= pin.user.name if pin.user %></strong></p>  
        <% else %>
        <p class="desc"><strong><%= pin.user.name if pin.user %></strong></p>
        <% end %>

      <div class="blur">
        <%= link_to image_tag(pin.image.url(:medium)), pin %>
        </div>
      <div class="pinDesc panel-body accentColor">
        
        <p>
        <%= pin.description %>
        </p>
      </div>
    </div>
  <% end %>
 
 </div> 

</center>
