<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>BloonBlow</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type"               content="article" />
    <meta property="og:description"        content= "A Bloon from from the BloonBlow!" /> 
    <link rel="shortcut icon" href="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/14192617_1302097283164379_7480952122596209542_n.jpg?oh=c6725cf5f8ed27c12074be26eb50c775&oe=584966AF" type="image/x-icon" /> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/header' %>
    <% end %>
    <!-- <div class="container"> -->
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info flash") %>
    <% end %>
    <%= yield %>
    <!-- </div> -->
  </body>
</html>
