<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" type="image/jpg" href="images/bg.jpg"/>
  <title>BloonBlow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:type"               content="article" />
  <meta property="og:description"        content= "A Bloon from from the BloonBlow!" /> 

  <link rel="shortcut icon" href="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13882083_149935975441417_1477663691974187650_n.png?oh=e37e29ec3367f665621e8ad7832b6549&oe=58142298" type="image/x-icon" />

  <% unless user_signed_in? %>

  <style>
  body {
  background: linear-gradient(#9B26AF, #9b59b6,#68EFAD) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:block; 
  }
   </style> 


   <% end %>

</head>
<body>

  <% if user_signed_in? %>
	<%= render 'layouts/header' %>
  <% end %>

<div class="container">
  
	<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info flash") %>
		<% end %>

  
      </div>
<%= yield %>


</body>
</html>
