<!DOCTYPE html>
<html>
<head>
  <title>BubbleBlow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:type"               content="article" />
  <meta property="og:description"        content= @pin.description /> 

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <% unless user_signed_in? %>

  <style>
  body {
  background: linear-gradient(#9B26AF, #691A99,#68EFAD) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:block;
  }
   </style>


   <% end %>

</head>
<body>
  <% if user_signed_in? %>
	<%= render 'layouts/header' %>

  <% end %>

<div class="container">
  
	<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info flash") %>

		<% end %>
<%= yield %>
</div>

</body>
</html>
